*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "jaro", sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: rgb(23, 194, 126);
    justify-content: space-around;
    padding: 20px 0;
    color: aliceblue;
}


nav .logo {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;

}
nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;

}


nav ul li a {
    color: aliceblue;
    text-decoration: none;
    
}

nav ul li a:hover {
    color: black;
}

/* Hamburger Menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -4px;
    cursor: pointer;
    z-index: 2;

}


.menu-toggle span {

    display: block;
    width: 28px;
    height: 3px;
    background-color: aliceblue;
    border-radius: 3px;
    transition: all 0.5s;
}


/* Hamburger Menu Animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: black;
    transform: rotate(45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: black;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);

  
}
    
/* Responsive Breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px){
    nav ul {
        width: 50%;
    }
}
    


/* ukuran mobile */
@media screen and (max-width: 576px){
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgb(23, 194, 126);
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;

    }


    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }
}



    
